body{
    font-family: 'Source Sans Pro', sans-serif;
    margin: 0px;
    background-color: #f1f3f4;
    background-image: url('../Imagenes/portada.jpg');
    background-size: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.header{
    background-color: #022831;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    width: 100%;
    left: 0;
    top: 0;
    position: fixed;
    z-index: 1;
}
figure{
    margin: 0px 20px;
}
.menu{
    height: inherit;
}
.header ol{
    display: flex;
    height: inherit;
    margin: 0px;
    padding: 0px;
    list-style: none;
}
.header ol li{
    height: inherit;
    display: flex;
    align-items: center;
    color: white;
}
.header a{
    height: inherit;
    display: flex;
    align-items: center;
    padding: 0px 20px;
    text-decoration: none;
    color: #62C6BD;
}
.hero{
    background-image: url('../Imagenes/portadadesenfocada.jpg');
    padding-top: 50px;
    padding-left: 25px;
    width: 500px;
    margin: 70px auto;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100%;
}
h1{
    margin-top: 0px;
    font-size: 40px;
    line-height: 1.5;
    letter-spacing: -.2px;
    color: rgb(255, 255, 255);
    text-align: center;
}
h1 strong{
    color: #026fff;
}
h2 {
    color: #026fff;
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
    margin-bottom: 20px
}
.portfolio{
    background-color: #f1f3f4;
    padding: 20px;
}
.project{
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.project-details{
    width: 500px;
}
.project-details h3{
    margin: 0px 0px 20px 0px;
    font-size: 25px;
}
.project-imageContainer{
    width: 500px;
}
.dlogros{
    background-color: #f1f3f4;
    padding: 20px;
}
.Diplomas{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.diplomascaracters{
    width: 400px;
    margin: 30px 60px;
    border-radius: 10px;
    overflow: hidden;
    flex-shrink: 0;
    background-color: #f4fbff;
}
.diplomasdetails{
    margin: 20px 40px;
    background-color:white;
    margin-top: -40px;
    position: relative;
    z-index: 0;
    padding: 20px;
    text-align: center
}
.Diplomas figure{
    width: 400px;
    margin: 0px;
}
.Diplomas img{
    width: inherit;
    height: 250px;
    padding-top: 0px;
}
.diplomascaracters a{
    color: #056fff;
    text-decoration: none;
    padding: 5px 20px;
    border: 1px solid #056fff;
    border-radius: 5px;
}
.contact-section{
    background-color: #056fff;
    color: white;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 100px;
}
.form-email input{
    border: 1px solid gray;
    border-radius: 5px;
    padding: 5px 25px;
    background-image: url('../Imagenes/envelope.svg');
    background-size: 15px 15px;
    background-repeat: no-repeat;
    background-position-x: 5px;
    background-position-y: center;
}
.form-email button{
    width: 100px;
    background-color: transparent;
    display: block;
    color: white;
    padding: 10px 0;
    border-radius: 5px;
    margin-top: 10px;
}
.social-link{
    display: inline-block;
    width: 50px;
    height: 50px;
    background-size: 50px 50px;
    margin: 0px 20px;
}
.social-link.twitter{
    background-image: url('../Imagenes/twitter.svg');
}
.social-link.facebook{
    background-image: url('../Imagenes/facebook.svg');
}
.social-link.github{
    background-image: url('../Imagenes/github.svg');
}