.Title{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    height: 10vh;
    padding-top: 10vh;

    h1{
        color: #303030;
        font-weight: 900;
        font-family: 'Montserrat', sans-serif;
    }
    
    .titleguion{
        content: "";
        width: 25px;
        height: 10%;
        background-color: #4961DC;
        border-radius: 1rem;
        margin: 0 1%;
    }
}